body {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    overflow: hidden;
    
}

.s {
    margin: 0;
}

/*BUTTON delete*/

.delete_button {
    position: absolute;
    width: 25%;
    height: auto;
    margin-top: -9%;
    margin-left: 12.5%;
    z-index: 1;
}

/*BUTTON command*/

.command_button {
    position: absolute;
    width: 20%;
    height: auto;
    margin-left: 25%;
    margin-top: 25%;
    z-index: 2;
}

/* KEYWORDS */

.keyword1 {
    width: 48%;
    height: auto;
    margin-top: 5%;
    margin-left: -38%;
    text-decoration: none;
    font-family: Helvetica;
    font-size: 2.5vw;
    color: blue;
    text-transform: uppercase;
    text-decoration: none;
    height: auto;
    z-index: 3;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    
}

/*ARTWORK*/

.artwork1 {
    width: 75%;
    height: auto;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    margin-left: 10%;
    margin-top: 5.5%;
    
}

.artwork1:hover {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

/* FOOTER */

.footer {
    background-color: transparent;
    width: 90%;
    height: auto;
    position: fixed;
    left: 0;
    bottom: 0;
    padding-bottom: 3%;
    margin-left: 2.5%;
}

.typewritter {
    font-family: Helvetica;
    font-size: 2.5vw;
    text-decoration: none;
    margin-left: 4%;
    color: blue;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}